<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.NFCtagsTest"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19"/>

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
            android:name="android.hardware.nfc"
            android:required="true" />

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">

        <!-- Main Activity -->
        <activity android:name=".activity.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Write Activity -->
        <activity
                android:name=".activity.WriteActivity"
                android:parentActivityName="com.example.NFCtagsTest.activity.MainActivity" >
                <meta-data
                        android:name="android.support.PARENT_ACTIVITY"
                        android:value="com.example.NFCtagsTest.activity.MainActivity" />
        </activity>

        <!-- Read Activity -->
        <activity
                android:name=".activity.ReadActivity"
                android:parentActivityName="com.example.NFCtagsTest.activity.MainActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.NFCtagsTest.activity.MainActivity" />

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>
    </application>
</manifest>
